<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

  <h2>Veterinarians</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialties</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet : ${vets.vetList}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
        <td><span th:each="specialty : ${vet.specialties}"
          th:text="${specialty.name + ' '}" /> <span
          th:if="${vet.nrOfSpecialties == 0}">none</span></td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li class="page-item" th:classappend="${pages.currentPage}==0 ? ' disabled'">
              <a class="page-link" aria-label="Previous"
                 th:href="${pages.currentPage}==0 ? '#':@{/vets.html(currentPage=${pages.currentPage-1})}" >
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>

          <th:block th:each="page : ${#numbers.sequence(1,pages.totalPage)}">
              <li class="page-item">
                  <a class="page-link" th:text="${page}"
                     th:href="@{/vets.html(currentPage=${page-1})}"></a>
              </li>
          </th:block>

          <li class="page-item" th:classappend="${pages.currentPage+1 == pages.totalPage} ? 'disabled'">
              <a class="page-link" aria-label="Next"
                 th:href="${pages.currentPage+1 == pages.totalPage} ? '#':@{/vets.html(currentPage=${pages.currentPage+1})}" >
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
          </li>

      </ul>
  </nav>

</body>
</html>
