<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>

    <h2>Owners</h2>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Address</th>
            <th>City</th>
            <th style="width: 120px">Telephone</th>
            <th>Pets</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="owner : ${selections}">
              <td>
                  <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
              </td>
              <td th:text="${owner.address}"/>
              <td th:text="${owner.city}"/>
              <td th:text="${owner.telephone}"/>
              <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} "/></td>
          </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${pages.currentPage}==0 ? ' disabled'">
                <a class="page-link" aria-label="Previous"
                   th:href="${pages.currentPage}==0 ? '#':@{/owners/list(lastName=${param.lastName},firstName=${param.firstName},currentPage=${pages.currentPage-1})}" >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <th:block th:each="page : ${#numbers.sequence(1,pages.totalPage)}">
                <li class="page-item">
                    <a class="page-link" th:text="${page}"
                       th:href="@{/owners/list(lastName=${param.lastName},firstName=${param.firstName},currentPage=${page-1})}"></a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${pages.currentPage+1 == pages.totalPage} ? 'disabled'">
                <a class="page-link" aria-label="Next"
                   th:href="${pages.currentPage+1 == pages.totalPage} ? '#':@{/owners/list(lastName=${param.lastName},firstName=${param.firstName},currentPage=${pages.currentPage+1})}" >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>

        </ul>
    </nav>


  </body>
</html>
